VITE_API_URL=http://localhost:5000/api/
VITE_LARAVEL_API_URL=https://gudrun-calcific-adrianne.ngrok-free.dev/api/v1/
VITE_STRIPE_PUBLIC_KEY=your_stripe_public_key
VITE_GEOAPIFY_KEY=your_geo_key
VITE_RAZORPAY_KEY_ID=razorpay_key_id
VITE_RAZORPAY_KEY_SECRET=razorpay_key_secret
